<h1>Editing book link</h1>

<%= render "form", book_link: @book_link %>

<br>

<div>
  <%= link_to "Show this book link", @book_link %> |
  <%= link_to "Back to book links", book_links_path %>
</div>
