<p style="color: green"><%= notice %></p>

<h1>Book links</h1>

<div id="book_links">
  <% @book_links.each do |book_link| %>
    <%= render book_link %>
    <p>
      <%= link_to "Show this book link", book_link %>
    </p>
  <% end %>
</div>

<%= link_to "New book link", new_book_link_path %>
