<h1>Editing physical book</h1>

<%= render "form", physical_book: @physical_book %>

<br>

<div>
  <%= link_to "Show this physical book", @physical_book %> |
  <%= link_to "Back to physical books", physical_books_path %>
</div>
