<div id="<%= dom_id book_title %>">
  <p>
    <strong>Name:</strong>
    <%= book_title.name %>
  </p>

  <p>
    <strong>Published at:</strong>
    <%= book_title.published_at %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book_title.author_id %>
  </p>

</div>
