<p style="color: green"><%= notice %></p>

<h1>Book titles</h1>

<div id="book_titles">
  <% @book_titles.each do |book_title| %>
    <%= render book_title %>
    <p>
      <%= link_to "Show this book title", book_title %>
    </p>
  <% end %>
</div>

<%= link_to "New book title", new_book_title_path %>
