<p style="color: green"><%= notice %></p>

<h1>Faculties</h1>

<div id="faculties">
  <% @faculties.each do |faculty| %>
    <%= render faculty %>
    <p>
      <%= link_to "Show this facultie", faculty %>
    </p>
  <% end %>
</div>

<%= link_to "New facultie", new_faculty_path %>
