<div class="columns is-centered">
  <div class="column is-5 mt-5">
    <h1 class="title"><%= t("users.new_user") %></h1>

    <%= render "form", user: @user %>
  </div>
</div>

<div>
  <%= link_to t("users.back_to_user"), users_path %>
</div>
