<div id="<%= dom_id department %>">
  <p>
    <strong>Name:</strong>
    <%= department.name %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= department.department_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= department.description %>
  </p>

</div>
