<h1>Editing extension reason</h1>

<%= render "form", extension_reason: @extension_reason %>

<br>

<div>
  <%= link_to "Show this extension reason", @extension_reason %> |
  <%= link_to "Back to extension reasons", extension_reasons_path %>
</div>
