<div class="columns is-centered">
  <div class="column is-4 mt-5">
    <h1 class="title">New book</h1>

    <%= render "form", book: @book %>
  </div>
</div>

<br>

<div>
  <%= link_to "Back to books", books_path %>
</div>
