<h1>Editing book publisher</h1>

<%= render "form", book_publisher: @book_publisher %>

<br>

<div>
  <%= link_to "Show this book publisher", @book_publisher %> |
  <%= link_to "Back to book publishers", book_publishers_path %>
</div>
