<p style="color: green"><%= notice %></p>

<h1>Book publishers</h1>

<div id="book_publishers">
  <% @book_publishers.each do |book_publisher| %>
    <%= render book_publisher %>
    <p>
      <%= link_to "Show this book publisher", book_publisher %>
    </p>
  <% end %>
</div>

<%= link_to "New book publisher", new_book_publisher_path %>
